{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"]
}